/* Fonts */
@font-face {
    font-family: "ProximaNova";
    font-weight: 500;
	font-style: normal;
    src: url("../fonts/proximanova-medium-webfont.woff") format("woff"), 
         url("../fonts/proximanova-medium-webfont.woff2") format("woff2");
}
@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/proximanova-mediumit-webfont.woff") format("woff"), 
         url("../fonts/proximanova-mediumit-webfont.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/proximanova-regular-webfont.woff") format("woff"), 
         url("../fonts/proximanova-regular-webfont.woff2") format("woff2");
    font-weight: 400;
	font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/proximanova-regularit-webfont.woff") format("woff"), 
         url("../fonts/proximanova-regularit-webfont.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

/* HTML basics */
html {
    height: 100%;
}
body {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    /* height: 100%; */
    overflow: auto;
    overflow-x: hidden;
}
body[fixed=true] {
	position: fixed;
}
body[fixed=false] {
	position: static;
}

/* Text basics */
h1, h2, h3, h4, h5, h6, p, a, li, button, input {
	font-family: 'ProximaNova';
}
h1 {
	font-size: 36px;
	font-weight: 500;
	color: #000;
	letter-spacing: 1.8px;
	line-height: 44px;
	margin: 10px 0px;
}
@media (max-width: 768px) {
	h1 {
		font-size: 20px;
		letter-spacing: 1.0px;
		line-height: 24px;
	}
}
h2 {
	font-size: 26px;
	font-weight: 500;
	color: #000;
	letter-spacing: 1.3px;
	line-height: 35px;
	margin: 10px 0px;
}
@media (max-width: 768px) {
	h2 {
		font-size: 18px;
		letter-spacing: 0.9px;
		line-height: 28px;
	}
}
h3 {
	font-size: 16px;
	font-weight: 500;
	color: #000;
	letter-spacing: 1.6px;
	line-height: 26px;
	margin: 10px 0px
}
@media (max-width: 768px) {
	h3 {
		font-size: 14px;
		letter-spacing: 1.4px;
		line-height: 26px;
	}
}
p {
	font-size: 16px;
	font-weight: 400;
	color: #000;
	letter-spacing: 0.8px;
	line-height: 26px;
	margin: 10px 0px;
}
li {
	font-size: 16px;
	font-weight: 400;
	color: #000;
	letter-spacing: 0.8px;
	line-height: 26px;
	margin: 0px 0px;
}
button, a {
	font-size: 16px;
	letter-spacing: 1.6px;
    line-height: 18px;
	margin: 20px 0px
}
@media (max-width: 1280px) {
	button, a {
		font-size: 14px;
		letter-spacing: 1.4px;
	}
}
/* @media (max-width: 768px) {
	button, a {
		font-size: 14px;
		letter-spacing: 1.4px;
	}
} */
a {
	text-decoration: none;
}
input,
input::placeholder {
	font-size: 16px;
    font-weight: 500;
    color: #000;
    letter-spacing: 1.6px;
    line-height: 20px;
}

/* Text modifiers */
.text__white {
	color: #fff;
}
.text__black {
	color: #000;
}
.align__center {
	text-align: center;
}
.align__right {
    text-align: right;
}
.align__left {
    text-align: left;
}
.header__wide {
	letter-spacing: 100px;
}
.header__tight {
	line-height: 20px;
}

/* Buttons */
.button__default,
.button__white {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 40px;
    max-height: 40px;
    width: max-content;
    padding: 10px 30px 10px 30px;
    border-radius: 22px;
    box-sizing: border-box;
    opacity: 1;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all ease 0.2s;
}
.button__default {
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
}
.button__white {
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
}
.button__white:hover,
.button__default:hover {
    color: #fff;
    border: 2px solid #B13A00;
    background-color: #B13A00;
}
@media (max-width: 1280px) {
    .button__default,
    .button__white {
        height: 27px;
        max-height: 27px;
        padding: 2px 20px 2px 20px;
        border-width: 1.5px;
    }
    .button__white:hover,
    .button__default:hover {
        border-width: 1.5px;
    }
}
